---

---

<footer class="text-center text-fiord-50 my-auto">
  <small
    >Copyright &copy; <span id="copyright"></span> | Sushant's Portfolio</small
  >
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
