---
// import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import devGIf from "../assets/gif/developer.gif";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Sushant's Portfolio"
  seoTitle="Sushant Kumar, FullStack Developer Portfolio"
  seoDesc="FullStack Developer, expertise in React, Node, MongoDB, MySql, Astro, Vue"
>
  <section
    class="min-h-[70vh] md:min-h-[90vh] mt-[10vh] w-full bg-accent-100 text-right text-neutral-700"
    id="about"
  >
    <div class="w-10/12 mx-auto">
      <h1
        class="custom-font-size mt-10 inline-block bg-neutral-600/30 rounded-md font-Satoshi-B"
      >
        {"<"} ABOUT ME 😎{"/>"}
      </h1>

      <div
        class="flex flex-col w-full mx-auto mt-[2vh] md:mt-[10vh] justify-between space-y-5 md:space-y-8"
      >
        <h2 class="text-[3rem] text-left md:text-center font-Satoshi-BLK">
          What I do?
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2">
          <div class="order-2 md:order-1">
            <Image
              src={devGIf}
              alt="I collaborate, innovate and explore"
              width={devGIf.width}
              loading="lazy"
            />
          </div>
          <div class="flex items-center order-1 md:order-2">
            <article class="text-center px-5 font-Satoshi-M">
              <h2 class="text-3xl">
                From building sleek <abbr
                  title="Single Page Application"
                  class="decoration-solid decoration-primary-800 text-primary-100"
                  >SPA</abbr
                >s with React's frontend finesse to architecting efficient
                backends with Node.js, <span class="text-primary-100"
                  >I specialize in creating dynamic web apps</span
                >
              </h2>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>

  <style>
    .custom-font-size {
      font-size: clamp(1.5rem, 1.279rem + 2.745vw, 2.75rem);
    }
  </style>
</MainLayout>
