---
import ProjectCard from "../components/ProjectCard.astro";
import data from "../data/projectsData.json";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Sushant's Portfolio"
  seoTitle="Sushant Kumar, FullStack Developer Portfolio"
  seoDesc="FullStack Developer, expertise in React, Node, MongoDB, MySql, Astro, Vue"
>
  <section
    class="min-h-[70vh] md:min-h-[90vh] mt-[10vh] bg-teal-950/25 text-right"
    id="projects"
  >
    <div class="w-10/12 mx-auto">
      <h1
        class="custom-font-size mt-10 text-orange-300 inline-block bg-amber-100/25 rounded-md font-Satoshi-B"
      >
        {"<"} PROJECTS 😎{"/>"}
      </h1>

      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-full aspect-auto text-left mt-[10vh] gap-8"
      >
        {
          data.map((project) => {
            return (
              <ProjectCard
                title={project.title}
                link={project["host-link"]}
                techUsed={project["technologies-used"]}
                repo={project["repo-link"]}
                preview={project["preview-image"]}
                previewAlt={project["preview-alt"]}
              />
            );
          })
        }
      </div>
    </div>
  </section>

  <style>
    .custom-font-size {
      font-size: clamp(1.5rem, 1.279rem + 2.745vw, 2.75rem);
    }
  </style>
</MainLayout>
