---
import Resume from "/download/Sushant_Web Developer_Resume.pdf";
---

<a href={Resume} download>
  <button
    class="bg-accent-200 text-neutral-600 font-Satoshi-B rounded py-2 px-4 hover:bg-primary-400 hover:animate-pulse"
  >
    DOWNLOAD CV
  </button>
</a>
