<footer class="text-center text-fiord-50 my-auto">
  <small
    >Copyright &copy; <span id="currentYear"></span> | Sushant's Portfolio</small
  >
</footer>

<script>
  const currentYearElement = document.getElementById("currentYear");
  const currentYear = new Date().getFullYear();
  currentYearElement.textContent = currentYear;
</script>
