---
const { listItem } = Astro.props;
---

<li>
  <a
    href={`/${listItem}`}
    class="hover:text-base-500 hover:md:underline underline-offset-8 decoration-base-600 uppercase"
    >{listItem}</a
  >
</li>
