---
import { Icon } from "astro-icon/components";
---

<a
  class="p-5 absolute bottom-1 right-1 md:right-2 lg:right-2 cursor-pointer"
  aria-label="scroll to top of the web page"
  href="#home"
>
  <Icon
    name="UpArrow"
    class="hidden md:block h-24 w-20 text-fiord-400/50 hover:scale-105 hover:text-fiord-100/50"
  />
</a>
