---
import { Icon } from "astro-icon/components";
---

<div class="flex gap-x-5 md:gap-5 pt-2">
  <a
    href="https://linkedin.com/in/sushannt"
    aria-label="Sushant's Linkedin profile"
    class="cursor-pointer hover:text-primary-400 hover:scale-105"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Icon name="social/linkedin" class="size-8 md:size-10" />
  </a>
  <a
    href="https://github.com/sushannt"
    aria-label="Sushant's GitHub profile"
    class="cursor-pointer hover:text-primary-400 hover:scale-105"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Icon name="social/github" class="size-8 md:size-10" />
  </a>
</div>
